.button {
  display: flex;
  align-items: center;
  height: 50px;

  background: var(--background);
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 0 40px;

  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transform: scale(.97);
    box-shadow: 4px 4px 8px 0px var(--shadow-color);
  }
  &:active {
    transform: scale(.9);
  }

  &.outline {
    background: none;
    border: 1px solid var(--background);

    color: var(--outline-text);
  }

  &:disabled {
    opacity: .6;
    cursor: default;
  }
}
